<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChessByMe</title>
</head>
<body style="background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/69/76/YGTcP9.jpg); background-size: 100% 100%">
<center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<div id="board">
    {{ board|safe }}
    <br>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 style="color: white;">{{ message }}</h3>

            {% endfor %}
        {% endif %}
    {% endwith %}
</div>



<form action="/play" method="POST">
    <div style="color:white;">
        <label><strong>Move:</strong></label>
    </div>

    <input type="text" name="move" id="move" style="padding: 1px 20px; margin: 2px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
    <input type="submit" id="move2" value="Move" style="background-color: grey; color: white; padding: 1px 20px; margin: 2px 0; border: none; border-radius: 4px;  cursor: pointer;">
</form>

<div id="turn" style="color: white;">
    <em><strong>{{ turn|safe }}</strong></em>
</div>

<br>

<div id="target" style="background-color: darkgray; height: 124px; width: 500px;">
    <iframe src="http://127.0.0.1:5000/chat" style="border:2px solid black;" name="chat" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="120px" width="496px" onscroll="auto"></iframe>
</div>
</center>

<div style="position:fixed;width:auto; top:70px; color: white;">
    <h5 style="color:white;"><strong>THE BEST BLITZ CHESS PLAYERS:</strong></h5>
    {% for i in leaderboard %}
        <em><strong><h5 style="color:white;"> {{i}} </h5></strong></em>
    {% endfor %}

</div>

</body>
</html>